.container-fluid{
    background-image: url("../../../assets/img/ventas.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    height: 100%;
    width: 100%;
}

.card{
    min-height: 60%;
}

.fa{
    position: absolute;
    margin-top: -12%;
    margin-left: 80%;
    border: none;
    background-color: transparent;
}

@media(max-width: 600px){
    .fa{
        margin-top: -15%;
        margin-left: 73%;
    }
}

    

